.Header {
    width: 100%;
    background-image: url(http://busterhtml.mbkip3ms9u-e92498n216kr.p.temp-site.link/images/uploads/slider-bg.jpg);
    height: 400px;
    margin-bottom: 30px;
    padding: 40px 30px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    overflow: hidden;
    /* border: 1px solid #0f0; */
}
.Header header {
    width: 100%;
}
.Header h1 {
    font-family: 'Dosis', sans-serif;
    font-size: 36px;
    color: #ffffff;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 20px;
}
.HeaderNav {
    /* border: 1px solid #f00; */
    display: flex;
    width: 100%;
}
.Header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;  
    /* height: 100%;  */
}
.Header .HeaderTitle {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* border: 1px solid #ff0; */
}
.HeaderTitleContainer {
    /* border: 1px solid #f0f; */
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
}
.Header .HeaderTitle p {
    display: flex;
    align-items: center;
    font-family: 'Nunito', sans-serif;
    font-size: 18px;
}
.Header .HeaderTitle p a {
    color: #4280bf;   
}
/*****  gestion de la barre de recherche ******/
.SearchBar {
    display: flex;
    width: 100%;
    height: 40px;
    margin-top: 30px;
    background-color: #233a50;
    border: 4px solid #000;
}
.Bar {
    width: 100%;
    padding: 0;
}
.search-input {
    width: 100%;
    height: 100%;
    background-color: transparent;
    color: white;
    font-family: 'Poppins', sans-serif;
    outline: none;
    border: none;
    padding-left: 20px;
}
.SearchBar select {
    background-color: transparent;
    border: none;
    border-right: 1px solid #000;
    color: white;
}
.SearchBar button {
    border: none;
    background-color: transparent;
    padding-right: 30px;
}