.NavMenu{
    width: 100%;
    padding: 0px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.listeNavMenu{
    list-style: none;
    display: flex;
    justify-content: start;
    padding-left: 0px;
}
.listeNavMenu li{
    margin: 0px 5px;
    font-size: small;
    font-weight: 400;
}
.listeNavMenu li a{
    text-decoration: none;
    color: white;
}
.points{
    margin-right: 10px;
}