.Celebritie {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px 20px;
    overflow: hidden;
}
/* gestion du main */
.Celebritie__main {
    /* border: 1px solid #ff0; */
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}
.Celebritie__section {
    /* border: 1px solid #ff0; */
    width: 65%;
    display: flex;
    flex-direction: column;
}
.Celebritie__aside {
    width: 20%;
    /* border: 1px solid #ff0; */
    display: flex;
    flex-direction: column;
}
/* gestion de la section */

/* se trouve dans 'App.css */

/* gestion de l'aside */
.Celebritie__aside h4 {
    display: block;
    font-size: 24px;
    margin-block-end: .5em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    unicode-bidi: isolate;
}
.Celebritie__aside li{
    margin: 5px 0px;
}