.BlocActor {
    /* border: 1px solid #0ff; */
    display: flex;
    width: 100%;
    height: 80px;
}

.ImageActore {
    width: 30%;
    /* border: 1px solid #ff0; */
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 4px;
}
.ImageActore img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.descriptionBlocActor {
    display: flex;
    flex-direction: column;
    padding-left: 10px;
    justify-content: center;
}

.descriptionBlocActor h6 {
    font-size: 14px;
}
.descriptionBlocActor h6 a {
    transition: color .3s ease-in-out;
}
.BlocActor:hover h6 a {
    color: #9eeb47;
}