.Movie {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px 20px;
    overflow: hidden;
}


/* gestion du main */
.mainMovie {
    /* border: 1px solid #00f; */
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 30px;
}
.sectionMovie {
    display: flex;
    flex-direction: column;
    width: 65%;
    /* margin-top: 20px; */
    /* border: 1px solid #ff0; */
}
.asideMovie {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* padding-top: 20px; */
    width: 25%;
    /* border: 1px solid #ff0; */
    overflow: hidden;
}
/*  gestion de la section */

.FilmMovie {
    /* margin-top: 20px; */
    /* border: 1px solid #ff0; */
}
.FilmMovie ul {
    list-style: none;
}
/*********** gestion de l'aside ***********/
.BlocImage {
    /* border: 1px solid #00f; */
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 20px 0px;
}
.BlocImage img {
    width: 340px;
    height: 100%;
    object-fit: cover;
    object-position: center 0;
}
.lienFacebook {
    /* border: 1px solid #ff0; */
    width: 340px;
    margin-top: 0px;
}

.barMenu2 {
    width: 100%;
    height: 40px;
    margin: 20px 0px;
    padding: 0;
    display: flex;
    justify-content:start;
    align-items: center;
    border-top: 1px solid #405266;
    border-bottom: 1px solid #405266;
}
.barMenu2 p:nth-child(1) {
    width: 40%;
    display: flex;
    border-right: 1px solid #405266;
}
.barMenu2 p:nth-child(2) {
    width: 30%;
    border-right: 1px solid #405266;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.barMenu2 p:nth-child(3) {
    width: 30%;
    display: flex;
    justify-content: end;
    align-items: center;
    /* border: 1px solid #ff0; */
}
.barMenu2 p:nth-child(3) span {
    color: #4280bf;
    display: flex;
    align-items: center;
    margin-left: 10px;
}
.asideMovie h4 {
    display: block;
    font-size: 24px;
    margin-block-end: 1.03em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    unicode-bidi: isolate;
}