.Home{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px 20px;
    overflow: hidden;
}
.Home header{
    width: 100%;
    background-image: url(http://busterhtml.mbkip3ms9u-e92498n216kr.p.temp-site.link/images/uploads/slider-bg.jpg);
    height: 500px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    overflow: hidden;
}
.Home nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    
}
.nav-list1{
    list-style: none;
    display: flex;
    /* border: 1px solid #ff0; */
    margin-left: -150px;
}
.nav-list1 a{
    text-decoration: none;
    font-size: 12px;
    font-weight: 500;
    padding: 4px 10px;
    display: flex;
    justify-content: start;
    align-items: center;
    color: white;
    /* border: 1px solid #ff0; */
    transition: background-color 0.3s ease;
}
.nav-list2{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: end;
}
.nav-list2 a{
    color: white;
    text-decoration: none;
    font-size: 12px;
    font-weight: 500;
    padding: 4px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav-itemU{
    background-color: #f00;
    padding: 5px 10px;
    border-radius: 15px;
}
/*****  gestion de la barre de recherche ******/
.SearchBar{
    display: flex;
    width: 100%;
    height: 40px;
    margin-top: 30px;
    background-color: #233a50;
    border: 4px solid #000;
}
.search-input{
    width: 100%;
    height: 100%;
    background-color: transparent;
    color: white;
    font-family: 'Poppins', sans-serif;
    outline: none;
    border: none;
    padding-left: 20px;
}
.SearchBar select{
    background-color: transparent;
    border: none;
    border-right: 1px solid #000;
    color: white;
}
.SearchBar button{
    border: none;
    background-color: transparent;
    padding-right: 30px;
}
/****** gestion du petit follow *******/
.follow{
    display: flex;
    justify-content: end;
    align-items: center;
    width: 100%;
    font-size: small;
    margin: 10px 0px;
}
.follow .social-list{
    list-style: none;
    display: flex;
    margin-left: 0;
    padding-left: 0;
    justify-content: start;

}
.follow .social-list li{
    margin: 0 5px;
}
/**********gestion de la carosselle ***********/
.tendance{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.Caroussel{
    display: flex;
    justify-content: start;
    align-items: center;
    width: 100%;
    height: 300px;
    margin-top: 20px;
    overflow: scroll;
    scrollbar-width: none;
    list-style: none;
    padding: 0;
    margin: 0;
}
.Caroussel li{
    margin: 0px 10px;
}
/********* gerons le main ************/
.mainHome1{
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
    background-color: #020d18;
    /* border: 1px solid #ff0; */
    width: 100%;
    height: 100%;
}
.sections{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* border: 1px solid #0ff; */
    padding: 10px 0px;
    width: 65%;
}
.Asides{
    width: 30%;
    display: flex;
    flex-direction: column;
    padding-top: 20px;
}
/******* gestions des sections *******/
.section1{
    display: flex;
    flex-direction: column;
    width: 100%;
    /* border: 1px solid #ff0; */
}
.listeSection1{
    display: flex;
    overflow: scroll;
    width: 100%;
    /* border: 1px solid #0f0; */
    margin-top: 20px;
    padding-left: 0;
    scrollbar-width: none;
    list-style: none;
}
.listeSection1 li{
    margin: 0px 11px;
}
.section2{
    display: flex;
    flex-direction: column;
    width: 100%;
    /* border: 1px solid #ff0; */
}
.listeSection2{
    display: flex;
    overflow: scroll;
    width: 100%;
    /* border: 1px solid #0f0; */
    margin-top: 20px;
    padding-left: 0;
    scrollbar-width: none;
    list-style: none;
}
.listeSection2 li{
    margin: 0px 11px;
}
/******* destion des ASIDES ********/
.BlocImage{
    width: 296px;
    overflow: hidden;
    /* border: 1px solid #ff0; */
}
.BlocImage img{
    width: 100%;
    object-fit: cover;
}
.presentCelebriti{
    /* border: 1px solid #ff0; */
    width: 100%;
    padding: 10px 0px;
}
.listeCelebrities{
    list-style: none;
}
/****** gestion du deuxieme main ******/
.mainHome2{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 40px;
    /* border: 1px solid #ff0; */
}
/* gestion de la premiere session du main 2 */
.mainHome2Section1{
    width: 100%;
    /* border: 1px solid #00f; */
    display: flex;
    margin: 10px 0px;
    background-color: #233a50;
}
.viewfilm{
    /* border: 1px solid #f00; */
    width: 70%;;
    background-color: #000;
}
.divList{
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.listedefilm{
    list-style: none;
    width: 100%;
    height: 400px;
    overflow: scroll;
    scrollbar-width: none;
}
/* gestion de la deuxieme session du main 2 */
.mainHome2section2{
    /* border: 1px solid #0ff; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 100px;
}
.textMainHome2section2{
    /* border: 1px solid #f00; */
    max-width: 300px;
    width: 300px;
    min-width: 200px;
}
/* gestion de la troisieme session du main 2 */
.mainHome2section3{
    /* border: 1px solid #0ff; */
    display: flex;
    justify-content: space-between;
    padding: 0;
    margin: 0;
}
.star{
    /* border: 1px solid #ff0; */
    display: flex;
    justify-content: space-around;
    width: 70%;
    padding: 20px;
    overflow: hidden;
}
.imageStar{
    /* border: 1px solid #ff0; */
    width: 45%;
    height: 200px;
}
.infoStar{
    padding-left: 20px;
}
.infoStar h3{
    /* font-size: 14px; */
    text-transform: uppercase;
    margin-bottom: 10px;
}
.infoStar span{
    font-size: 12px;
}
.infoStar p{
    margin-top: 10px;
}
.Points{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    max-width: 300px;
    width: 300px;
}
.lesPoints{
    /* border: 1px solid #f00; */
    display: flex;
    justify-content: space-between;
    width: 100%;    
}
.lesPoints > *{
    /* border: 1px solid #00f; */
    display: flex;
    align-items: center;
    width: 100%;
}
/****** gestion de la 4eme section *******/
.mainHome2section4{
    /* border: 1px solid #ff0; */
    display: flex;
    justify-content: start;
    align-items: center;
    margin-top: 40px;
}
.lesPetitsTitres{
    /* border: 1px solid #00f; */
    width:70%;
    display: flex;
    flex-wrap: wrap;
}
.petitTitre{
    width: 300px;
    margin: 30px 30px;
}
.petitTitre a{
    color: #4280bf
}
.petitTitre span{
    font-size: 10px;
}
/******* gestion du footer ********/
