.BlocActor{
    width: 100%;
    height: 70px;
    padding: 10px;
    padding-left: 0;
    display: flex;
    align-items: center;
}
.ImageActore{
    padding-top: 0;
    overflow: hidden;
    margin-right: 10px;
    width: 70px;
    min-width:70px;
    height: 70px;
    min-height: 70px;
    border-radius: 5px;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, .5);
}
.ImageActore img{
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: 100%;
}
.descriptionBlocActor{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    overflow: hidden;
}
.descriptionBlocActor h6{
    font-size: 14px;
    font-weight: 500;
    color: #fff;
    text-transform: uppercase;
    margin-bottom: 5px;
}
.descriptionBlocActor span{
    font-size: 12px;

}